<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 ">
        <a href="#" class="list-group-item clearfix"
         *ngFor="let recipe of recipes">
            <div class="container-fluid float-left">
                <h4 class="list-group-item-heading">
                    {{recipe.name}}
                </h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
                <span class="float-sm-right">
                    <img src="{{ recipe.imagePath}}"
                        [src]="recipe.imagePath"
                        alt="{{recipe.name}}" 
                        class="img-fluid float-right" 
                        style="max-height: 50px;">
                </span>
            </div>
        </a>
        <app-recipe-item >Loading recipe item...</app-recipe-item>
    </div>
</div>

